doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Captain Quack
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(rel="preload" href="fonts/roboto-light.woff2" as="font")
    link(rel="preload" href="fonts/roboto-regular.woff2" as="font")
    link(rel="preload" href="fonts/roboto-medium.woff2" as="font")
    link(rel="preload" href="fonts/roboto-bold.woff2" as="font")
    link(rel="stylesheet" href="css/style.min.css")

  body(class="page")
    header(class="page__header  page-header")
      div(class="page-header__wrapper  aligner")
        picture
          source(
            media="(min-width: 720px)",
            srcset="img/logo-large.png"
          )
          img(
            class="page-header__logo"
            src="img/logo-small.png"
            alt="Captain Quack"
          )

    main(class="page__main  page-main")
      header(class="page-main__intro  aligner")
        h1(class="page-main__title  visually-hidden") Каталог
        p(class="page-main__slogan") ¡Ay caramba!

      section(class="page-main__filter  filter")
        div(class="filter__wrapper  aligner")
          h2(class="filter__title  visually-hidden") Фильтр
          form(class="filter__form" action="https://echo.htmlacademy.ru" method="GET")

            div(class="filter__item  filter__item--text  filter__item--text--title")
              input(class="filter__field  filter__field--title" type="text" id="title" placeholder="Название")
              label(class="filter__label  filter__label--text" for="title") Название

            div(class="filter__item  filter__item--text  filter__item--text--price")
              input(class="filter__field  filter__field--price" type="text" id="price" placeholder="Цена")
              label(class="filter__label  filter__label--text" for="price") Цена

            div(class="filter__item  filter__item--text  filter__item--text--year")
              input(class="filter__field  filter__field--year" type="text" id="year" placeholder="Год")
              label(class="filter__label  filter__label--text" for="year") Год

            div(class="filter__item  filter__item--text  filter__item--text--description")
              input(class="filter__field  filter__field--description" type="text" id="description" placeholder="Описание")
              label(class="filter__label  filter__label--text" for="description") Описание

            div(class="filter__item  filter__item--color")
              span(class="filter__label  filter__label--color") Цвет
              ul(class="filter__color-list  palette")
                li(class="palette__item")
                  input(class="palette__field  visually-hidden" type="radio" name="color" value="white" id="white")
                  label(class="palette__label  round  round--white" for="white")
                    span(class="palette__legend  visually-hidden") Белый
                li(class="palette__item")
                  input(class="palette__field  visually-hidden" type="radio" name="color" value="black" id="black")
                  label(class="palette__label  round  round--black" for="black")
                    span(class="palette__legend  visually-hidden") Чёрный
                li(class="palette__item")
                  input(class="palette__field  visually-hidden" type="radio" name="color" value="gray" id="gray" checked)
                  label(class="palette__label  round  round--gray" for="gray")
                    span(class="palette__legend  visually-hidden") Серый
                li(class="palette__item")
                  input(class="palette__field  visually-hidden" type="radio" name="color" value="crimson" id="crimson")
                  label(class="palette__label  round  round--crimson" for="crimson")
                    span(class="palette__legend  visually-hidden") Малиновый
                li(class="palette__item")
                  input(class="palette__field  visually-hidden" type="radio" name="color" value="lime" id="lime")
                  label(class="palette__label  round  round--lime" for="lime")
                    span(class="palette__legend  visually-hidden") Лайм

            div(class="filter__item  filter__item--status  status-select")
              span(class="status-select__tip" tabindex="0") Статус
              ul(class="status-select__list")
                li(class="status-select__item")
                  input(class="status-select__field  visually-hidden" type="radio" name="status" value="in-stock" id="in-stock")
                  label(class="status-select__label  status-select__label--in-stock" for="in-stock") В наличии
                li(class="status-select__item")
                  input(class="status-select__field  visually-hidden" type="radio" name="status" value="pending" id="pending")
                  label(class="status-select__label  status-select__label--pending" for="pending") Ожидается
                li(class="status-select__item")
                  input(class="status-select__field  visually-hidden" type="radio" name="status" value="not-available" id="not-available")
                  label(class="status-select__label  status-select__label-not-available" for="not-available") Нет в наличии

            button(class="filter__item  filter__item--button  button  button--filter" type="submit")
              span(class="button__text  button-fix") Отправить

      section(class="page-main__catalog  catalog")
        div(class="catalog__wrapper  aligner")
          h2(class="catalog__title") Автомобили в наличии
          table(class="catalog__table  table")
            thead(class="table__group  table__group--head")
              tr(class="table__row  table__row--head")
                th(class="table__cell  table__cell--head  table__cell--head--title") Название
                th(class="table__cell  table__cell--head  table__cell--head--year") Год
                th(class="table__cell  table__cell--head  table__cell--head--color") Цвет
                th(class="table__cell  table__cell--head  table__cell--head--status") Статус
                th(class="table__cell  table__cell--head  table__cell--head--price") Цена
                th(class="table__cell  table__cell--head  table__cell--head--action") Удаление

            tbody(class="table__group  table__group--body")
              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-1")
                  p(class="table__item-title  table__item-title--item-1") 1.6 MT Ambiente 85 л.с. МКПП
                  p(class="table__addition") + доп. опция «Радио-навигационная система Amundasen 2DIN, CD, MP3»
                td(class="table__cell  table__cell--body  table__cell--body--year") 2012
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--black")
                    span(class="table__color-legend  visually-hidden") Чёрный
                td(class="table__cell  table__cell--body  table__cell--body--status") Ожидается
                td(class="table__cell  table__cell--body  table__cell--body--price") 1 689 000 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-2")
                  p(class="table__item-title  table__item-title--item-2") 1.6 MT Ambiente Plus 105 л.с. МКПП
                td(class="table__cell  table__cell--body  table__cell--body--year") 2012
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--white")
                    span(class="table__color-legend  visually-hidden") Белый
                td(class="table__cell  table__cell--body  table__cell--body--status") Ожидается
                td(class="table__cell  table__cell--body  table__cell--body--price") 1 189 900 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-3")
                  p(class="table__item-title  table__item-title--item-3") 1.6 MT Trend 105 л.с. МКПП
                td(class="table__cell  table__cell--body  table__cell--body--year") 2012
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--black")
                    span(class="table__color-legend  visually-hidden") Чёрный
                td(class="table__cell  table__cell--body  table__cell--body--status") В наличии
                td(class="table__cell  table__cell--body  table__cell--body--price") 1 459 000 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-4")
                  p(class="table__item-title  table__item-title--item-4") 1.6 PowerShift Trend Sport 105л.с. АКПП
                td(class="table__cell  table__cell--body  table__cell--body--year") 2012
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--gray")
                    span(class="table__color-legend  visually-hidden") Серый
                td(class="table__cell  table__cell--body  table__cell--body--status") Ожидается
                td(class="table__cell  table__cell--body  table__cell--body--price") 1 459 000 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-5")
                  p(class="table__item-title  table__item-title--item-5") 2.0 MT Trend Sport 150 л.с. МКПП
                td(class="table__cell  table__cell--body  table__cell--body--year") 2012
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--crimson")
                    span(class="table__color-legend  visually-hidden") Малиновый
                td(class="table__cell  table__cell--body  table__cell--body--status") Ожидается
                td(class="table__cell  table__cell--body  table__cell--body--price") 786 000 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

              tr(class="table__row  table__row--body")
                td(class="table__cell  table__cell--body  table__cell--body--title  table__cell--body--title--item-6")
                  p(class="table__item-title  table__item-title--item-6") 2.0 PowerShift Trend Sport 150 л.с. АКПП
                  p(class="table__addition") + доп. опция «Радио-навигационная система Amundasen 2DIN, CD, MP3»
                td(class="table__cell  table__cell--body  table__cell--body--year") 2013
                td(class="table__cell  table__cell--body  table__cell--body--color")
                  div(class="table__color  round  round--lime")
                    span(class="table__color-legend  visually-hidden") Лайм
                td(class="table__cell  table__cell--body  table__cell--body--status") Нет в наличии
                td(class="table__cell  table__cell--body  table__cell--body--price") 821 000 руб.
                td(class="table__cell  table__cell--body  table__cell--body--action")
                  a(class="table__button  button  button--table" href="#") Удалить

    footer(class="page__footer  page-footer")
      div(class="page-footer__wrapper  aligner")
        div(class="page-footer__copyright  copyright")
          p(class="copyright__heading") © 2015 Captain Quack
          p(class="copyright__description") Десница тысячелетия и моллюск!

    script(src="js/picturefill.min.js")
    script(src="js/filter-select.js")
