doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Captain Quack
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    meta(
      name='format-detection'
      content='telephone=no'
    )
    link(
      rel='preload'
      href='fonts/roboto-light.woff2'
      as='font'
    )
    link(
      rel='preload'
      href='fonts/roboto-regular.woff2'
      as='font'
    )
    link(
      rel='preload'
      href='fonts/roboto-medium.woff2'
      as='font'
    )
    link(
      rel='preload'
      href='fonts/roboto-bold.woff2'
      as='font'
    )
  body
